.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    .content {
        flex: 1;
        @media (max-width: 768px) {
            padding-top: 72px;
        }
        main {
            padding: 0 48px;
            @media (max-width: 768px) {
                padding: 0 48px;
            }
            @media (max-width: 600px) {
                padding: 0 24px;
            }
        }
    }
}

.display-none {
    display: none;
}

.no-scroll {
    overflow: hidden;
}